NET "V_SW[3]" IOSTANDARD = LVCMOS33;
NET "V_SW[2]" IOSTANDARD = LVCMOS33;
NET "V_SW[1]" IOSTANDARD = LVCMOS33;
NET "V_SW[0]" IOSTANDARD = LVCMOS33;
NET "LED[2]" IOSTANDARD = LVCMOS33;
NET "LED[2]" DRIVE = 12;
NET "LED[2]" SLEW = SLOW;
NET "LED[1]" IOSTANDARD = LVCMOS33;
NET "LED[1]" DRIVE = 12;
NET "LED[1]" SLEW = SLOW;
NET "LED[0]" IOSTANDARD = LVCMOS33;
NET "LED[0]" DRIVE = 12;
NET "LED[0]" SLEW = SLOW;
NET "DB[7]" IOSTANDARD = LVCMOS33;
NET "DB[7]" DRIVE = 12;
NET "DB[7]" SLEW = SLOW;
NET "DB[6]" IOSTANDARD = LVCMOS33;
NET "DB[6]" DRIVE = 12;
NET "DB[6]" SLEW = SLOW;
NET "DB[5]" IOSTANDARD = LVCMOS33;
NET "DB[5]" DRIVE = 12;
NET "DB[5]" SLEW = SLOW;
NET "DB[4]" IOSTANDARD = LVCMOS33;
NET "DB[4]" DRIVE = 12;
NET "DB[4]" SLEW = SLOW;
NET "DB[3]" IOSTANDARD = LVCMOS33;
NET "DB[3]" DRIVE = 12;
NET "DB[3]" SLEW = SLOW;
NET "DB[2]" IOSTANDARD = LVCMOS33;
NET "DB[2]" DRIVE = 12;
NET "DB[2]" SLEW = SLOW;
NET "DB[1]" IOSTANDARD = LVCMOS33;
NET "DB[1]" DRIVE = 12;
NET "DB[1]" SLEW = SLOW;
NET "DB[0]" IOSTANDARD = LVCMOS33;
NET "DB[0]" DRIVE = 12;
NET "DB[0]" SLEW = SLOW;
NET "CLOCK_50" IOSTANDARD = LVCMOS33;
NET "RS" IOSTANDARD = LVCMOS33;
NET "RS" DRIVE = 12;
NET "RS" SLEW = SLOW;
NET "RW" IOSTANDARD = LVCMOS33;
NET "RW" DRIVE = 12;
NET "RW" SLEW = SLOW;
NET "E" IOSTANDARD = LVCMOS33;
NET "E" DRIVE = 12;
NET "E" SLEW = SLOW;

# PlanAhead Generated physical constraints 

NET "CLOCK_50" LOC = E12;
NET "RS" LOC = Y14;
NET "RW" LOC = W13;
NET "E" LOC = AB4;
NET "DB[7]" LOC = Y15;
NET "DB[6]" LOC = AB16;
NET "DB[5]" LOC = Y16;
NET "DB[4]" LOC = AA12;
NET "DB[3]" LOC = AB12;
NET "DB[2]" LOC = AB17;
NET "DB[1]" LOC = AB18;
NET "DB[0]" LOC = Y13;
NET "V_SW[3]" LOC = T9;
NET "V_SW[2]" LOC = U8;
NET "V_SW[1]" LOC = U10;
NET "V_SW[0]" LOC = V8;
NET "LED[0]" LOC = R20;
NET "LED[1]" LOC = T19;
NET "LED[2]" LOC = U20;
