
# PlanAhead Generated physical constraints 

NET "CLOCK_50" LOC = E12;
NET "RS" LOC = Y14;
NET "RW" LOC = W13;
NET "E" LOC = AB4;

# PlanAhead Generated IO constraints 

NET "RW" IOSTANDARD = LVCMOS33;
NET "RS" IOSTANDARD = LVCMOS33;
NET "E" IOSTANDARD = LVCMOS33;
NET "CLOCK_50" IOSTANDARD = LVCMOS33;
NET "LED[2]" IOSTANDARD = LVCMOS33;
NET "LED[1]" IOSTANDARD = LVCMOS33;
NET "LED[0]" IOSTANDARD = LVCMOS33;
NET "V_SW[3]" IOSTANDARD = LVCMOS33;
NET "V_SW[2]" IOSTANDARD = LVCMOS33;
NET "V_SW[1]" IOSTANDARD = LVCMOS33;
NET "V_SW[0]" IOSTANDARD = LVCMOS33;
NET "DB[7]" IOSTANDARD = LVCMOS33;
NET "DB[6]" IOSTANDARD = LVCMOS33;
NET "DB[5]" IOSTANDARD = LVCMOS33;
NET "DB[4]" IOSTANDARD = LVCMOS33;
NET "DB[3]" IOSTANDARD = LVCMOS33;
NET "DB[2]" IOSTANDARD = LVCMOS33;
NET "DB[1]" IOSTANDARD = LVCMOS33;
NET "DB[0]" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "DB[7]" LOC = Y15;
NET "DB[6]" LOC = AB16;
NET "DB[5]" LOC = Y16;
NET "DB[4]" LOC = AA12;
NET "DB[3]" LOC = AB12;
NET "DB[2]" LOC = AB17;
NET "DB[1]" LOC = AB18;
NET "DB[0]" LOC = Y13;
NET "V_SW[3]" LOC = T9;
NET "V_SW[2]" LOC = U8;
NET "V_SW[1]" LOC = U10;
NET "V_SW[0]" LOC = V8;
NET "LED[0]" LOC = R20;
NET "LED[1]" LOC = T19;
NET "LED[2]" LOC = U20;
